alissa_interpret_client @ git+https://github.com/UMCUGenetics/alissa_interpret_client.git@v1.1.0
email_validator==2.1.1
Flask==2.2.5
Flask-Admin==1.6.1
Flask-PyMongo==2.3.0
Flask-Security-Too==4.1.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.26.0
querystring-parser==1.2.4
Werkzeug==2.3.8