{% extends 'base.html' %}
{% set active_page = "variants" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Variant {{ id }}</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col">
            <div class="card shadow mb-4">
                <!--<div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Information</h6>
                    </div>-->
                <div class="card-body table-responsive">
                    <table class="table table-striped table-bordered table-sm" id="variant">
                        <thead>
                            <tr>
                                <th>#</th>
                                {% for f in fields %}
                                <th>{{ f.replace("_", " ") }}</th>
                                {% endfor %}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variant in variants %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {% for f in fields %}
                                {% set param = {f: variant[f]} %}
                                <td>
                                    {% if f == "dn_no" %}
                                    <a href={{ url_for('patient', id=variant[f]) }}>{{ variant[f] }}</a>
                                    {% elif f == "gene" %}
                                    <a href={{ url_for('gene', id=variant[f]) }}>{{ variant[f] }}</a>
                                    {% elif f == "fullgnomen" %}
                                    <a href={{ url_for('variant', id=variant[f]) }}>{{ variant[f] }}</a>
                                    {% else %}
                                    <a href={{ url_for('all', **param) }}>{{ variant[f] }}</a>
                                    {% endif %}
                                </td>
                                {% endfor %}
                                <td><a href={{ url_for('vus', id=variant["_id"]) }}><span><i
                                                class="fas fa-long-arrow-alt-right"></i></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}