{% extends 'base.html' %}
{% set active_page = "all" %}

<!-- field id, url, visual name-->
{% set external_links = [
('gene_(ensemblgene)', 'http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g=', 'Ensembl'),
('omimRefs', 'https://www.omim.org/entry/', 'OMIM®'),
('omimMorbidRefs', 'https://omim.org/entry/', 'OMIM®'),
('dbSNP', 'https://www.ncbi.nlm.nih.gov/snp/', 'dbSNP'),
('transcript', 'https://www.ncbi.nlm.nih.gov/nuccore/', 'GenBank'),
('gene', 'https://www.genecards.org/cgi-bin/carddisp.pl?gene=', 'GeneCard'),
('COSMIC Id (cosmicId)', 'https://cancer.sanger.ac.uk/cosmic/search?q=', 'COSMIC'),
('Gene (ensemblGene)', 'https://www.ensembl.org/Homo_sapiens/Gene/Summary?g=', 'EnsemblGene'),
('Single nucleotide variant', 'https://franklin.genoox.com/clinical-db/variant/snp/chr', 'Franklin'),
('Single nucleotide variant', 'https://gnomad.broadinstitute.org/variant/', 'gnomAD'),
('GnomadVariant', 'https://gnomad.broadinstitute.org/variant/', 'gnomAD')
] -%}
{% set link_list = [
'gene_(ensemblgene)', 'omimRefs', 'omimMorbidRefs', 'dbSNP', 'transcript', 'gene', 'Single nucleotide variant', 
'Insertion', 'Deletion', 'Substitution', 'COSMIC Id (cosmicId)', 'Gene (ensemblGene)'
] -%}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">VUS: {{ variant.dn_no }}_{{ variant.gene }}</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Information</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            {% for k in variant %}
                            {% set v = variant[k] %}
                            <tr>
                                {% if k in ["id", "annotation_sources", "labels", "databaseReferences",
                                "externalDatabases", "familyMembers", "inheritanceAlleles", "analysisType", "labResults",
                                "status", "GnomadVariant", "platformDatasets", "classificationTreeLabelsScore"] %}
                                <!-- do nothing -->
                                {% elif v == "" or v == [] or v == ['NONE'] %}
                                <!-- do nothing -->
                                {% elif k == "labResults" %}
                                {% for i in range(0,variant['labResults']|length) %}
                                    {% for key, value in variant['labResults'][i].items() %}
                                    {% if key == "sampleIdentifier" %}
                                        <td>{{ key.replace("_", " ").replace("\uff0e", ".") }}</td>
                                        <td>{{ value }}</td>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% else %}
                                <td>{{ k.replace("_", " ").replace("\uff0e", ".") }}</td>
                                {% if k == "dn_no" %}
                                <td><a href={{ url_for('patient', id=v) }}>{{ v }}</a></td>
                                {% elif k == "gene" %}
                                <td><a href={{ url_for('gene', id=v) }}>{{ v }}</a></td>
                                {% elif k == "fullgnomen" %}
                                <td><a href={{ url_for('variant', id=v) }}>{{ v }}</a></td>
                                {% else %}
                                <td style="word-break: break-word">{{ v }}</td>
                                {% endif %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- FamilyInheritance -->
            <div class="row-lg-12">
                {% for k in variant %}
                {% set v = variant[k] %}
                {% if k in ["inheritanceAlleles"] %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">FamilyInheritance</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for i in range(0,variant["inheritanceAlleles"]|length) %}
                            <div class="col">
                                <table class="table table-striped table-bordered table-sm">
                                    {% for k, v in variant["inheritanceAlleles"][i].items() %}
                                    <tr>
                                        <td>{{ k.replace("_", " ").replace("\uff0e", ".") }}</td>
                                        <td style="word-break: break-word">{{ v }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% for k, v in variant["familyMembers"][i].items() %}
                                    {% if v != "" and k == "affected" %}
                                    <tr>
                                        <td>{{ k.replace("_", " ").replace("\uff0e", ".") }}</td>
                                        <td style="word-break: break-word">{{ v }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- end of content row, start of subinformation row -->
        <div class="col-xl-6 col-lg-6">
            <!-- databaseReferences -->
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">databaseReferences</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-sm">
                                <tbody>
                                    {% for k in variant %}
                                    {% set var = variant[k] %}
                                    <tr>
                                        {% if k in ["databaseReferences", "platformDatasets", "GnomadVariant",
                                        "externalDatabases"] %}
                                        {% for k, v in var.items() %}
                                        {% if v != "" and k in link_list %}
                                        <td>{{ k }}</td>
                                        <td>{{ v }}
                                            {% for id, url, name in external_links %}
                                            {% if k == id and v != "" %}
                                            <!-- if key name equal to id in external_links -->
                                            <a href="{{ url|e }}{{ v }}" target="_blank">
                                                <button type="button" class="btn btn-primary btn-sm float-right">View
                                                    on {{ name }}</button>
                                            </a>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </td>
                                    <tr>
                                        {% if k in ["gene", "transcript"] and var != "" %}
                                        <td>{{ k }}</td>
                                        <td>{{ var }}
                                            {% for id, url, name in external_links %}
                                            {% if k == id and var != "" %}
                                            <!-- if key name equal to id in external_links -->
                                            <a href="{{ url|e }}{{ var }}" target="_blank">
                                                <button type="button" class="btn btn-primary btn-sm float-right">View
                                                    on {{ name }}</button>
                                            </a>
                                            {% endif %}
                                            {% endfor %}
                                    </tr>
                                    {% endif %}
                                    </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- platformDatasets -->
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">platformDatasets</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-bordered table-sm">
                                <tbody>
                                    {% for k, v in variant['platformDatasets'].items() %}
                                    {% if v != "" %}
                                    <tr>
                                        <td>{{ k.replace("_", " ").replace("\uff0e", ".") }}</td>
                                        <td>{{ v }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


{% endblock %}