{% extends 'base.html' %}
{% set active_page = "all" %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Variants</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="all">
                                <thead>
                                <tr>
                                    {% for todo in paginated.items %}
                                        <li>{{ todo.title }}</li>
                                    {% endfor %}
                                    <!--<th>#</th>-->
                                    {% for f in fields %}
                                        <th>{{ f.replace("_", " ") }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for variant in variants %}
                                    <tr>
                                        {% for f in fields %}
                                            {% set param = {f: variant[f]} %}
                                            <td>
                                                {% if f == "dn_no" %}
                                                    <a href={{ url_for('patient', id = variant[f]) }}>{{ variant[f] }}</a>
                                                {% elif f == "gene_(gene)" %}
                                                    <a href={{ url_for('gene', id = variant[f]) }}>{{ variant[f] }}</a>
                                                {% elif f == "hgvs_genomic-level_nomenclature_(fullgnomen)" %}
                                                    <a href={{ url_for('variant', id = variant[f]) }}>{{ variant[f] }}</a>
                                                {% else %}
                                                    <a href={{ url_for('all', **param) }}>{{ variant[f] }}</a>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}