{% set active_page = active_page|default('home') -%}

{% set navbar_left = [
    ('/', 'home', '<i class="fas fa-home"></i> Home'),
    ('/variants', 'variants', '<i class="fas fa-search"></i> Variants'),
    ('/genes', 'genes', '<i class="fas fa-dna"></i> Genes'),
    ('/patients', 'patients', '<i class="fas fa-heartbeat"></i> Patients')
] -%}

{% set navbar_right_loggedin = [
    ('/account', 'account', '<i class="fas fa-user"></i> Account'),
    ('/logout', 'logout', '<i class="fas fa-sign-in-alt"></i> Logout')
] -%}

{% set navbar_right_loggedout = [
    ('/register', 'register', '<i class="fas fa-user-plus"></i> Register'),
    ('/login', 'login', '<i class="fas fa-sign-out-alt"></i> Login')
] -%}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
<div class="container">
  <a class="navbar-brand" href="/"><i class="fas fa-dna"></i> VUSualiser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">

        {% for href, id, caption in navbar_left %}
          <li class="nav-item {% if id == active_page %}active{% endif %}">
              <a class="nav-link" href="{{ href|e }}">{{ caption|safe }}</a>
          </li>
        {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
            {% for href, id, caption in navbar_right_loggedin %}
              <li class="nav-item {% if id == active_page %}active{% endif %}">
                  <a class="nav-link" href="{{ href|e }}">{{ caption|safe }}</a>
              </li>
            {% endfor %}
        {% else %}
            {% for href, id, caption in navbar_right_loggedout %}
              <li class="nav-item {% if id == active_page %}active{% endif %}">
                  <a class="nav-link" href="{{ href|e }}">{{ caption|safe }}</a>
              </li>
            {% endfor %}
        {% endif %}
    </ul>
  </div>
</div>
</nav>